/* Elements */

/** -- BUTTONS -- **/
.btn {
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0.2rem;
  line-height: 1.2rem;
  border-radius: 0;
  text-align: left;
}
.btn-disabled {
  border-style: inset;
  background-color: rgb(169, 169, 169);
  color: rgb(69, 69, 69);
  cursor: not-allowed;
}
.btn-alert {
  border-color: brown;
  color: brown;
  background-color: rgb(255, 208, 215);
}
.btn-dark {
  border-color: rgb(137, 137, 137);
  background-color: rgb(134, 134, 134);
  color: rgb(0, 0, 0);
}
.btn-light {
  border-color: rgb(0, 60, 123);
  background-color: rgb(220, 246, 255);
  color: rgb(0, 60, 123);
}
.btn-success {
  border-color: green;
  background-color: rgb(196, 238, 196);
  color: green;
}
.btn-thin {
  border-color: white;
  background-color: black;
  color: white;
}
.btn-warning {
  border-color: rgb(125, 98, 0);
  background-color: rgb(255, 240, 195);
  color: rgb(125, 98, 0);
}
.btn-huge {
  font-size: 3rem;
  padding: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.btn-big {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.btn-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}
.btn-micro {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8rem;
}

.choice.disabled {
  background-color: lightgray;
  color: gray;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

ul {
  list-style-type: square;
}

/* Stage elements */
.stage {
  overflow-y: scroll;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
  overflow-x: clip;
}

.stage img {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
  max-width: calc(100vw - 1rem);
  max-height: calc(50vh - 1rem);
}

.stage table {
  max-width: 100vw;
  border: 1px solid gray;
  border-collapse: collapse;
  table-layout: auto;
  margin: 0.5rem;
}
.stage table tr:last-child td {
  border-bottom: initial;
}
.stage table th:first-child,
.stage table td:first-child {
  border-left: initial;
}
.stage table td,
.stage table th {
  padding: 0.25rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}
.stage table th {
  background-color: #151515;
}

.stage strong {
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px, rgb(255, 255, 255) 3px 0px 0px,
    rgb(255, 255, 255) 2.83487px 0.981584px 0px,
    rgb(255, 255, 255) 2.35766px 1.85511px 0px,
    rgb(255, 255, 255) 1.62091px 2.52441px 0px,
    rgb(255, 255, 255) 0.705713px 2.91581px 0px,
    rgb(255, 255, 255) -0.287171px 2.98622px 0px,
    rgb(255, 255, 255) -1.24844px 2.72789px 0px,
    rgb(255, 255, 255) -2.07227px 2.16926px 0px,
    rgb(255, 255, 255) -2.66798px 1.37182px 0px,
    rgb(255, 255, 255) -2.96998px 0.42336px 0px,
    rgb(255, 255, 255) -2.94502px -0.571704px 0px,
    rgb(255, 255, 255) -2.59586px -1.50383px 0px,
    rgb(255, 255, 255) -1.96093px -2.27041px 0px,
    rgb(255, 255, 255) -1.11013px -2.78704px 0px,
    rgb(255, 255, 255) -0.137119px -2.99686px 0px,
    rgb(255, 255, 255) 0.850987px -2.87677px 0px,
    rgb(255, 255, 255) 1.74541px -2.43999px 0px,
    rgb(255, 255, 255) 2.44769px -1.73459px 0px,
    rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

/* Misc */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(34, 34, 34, 0.786);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 196, 0.7);
}
.editor {
  width: 100%;
  height: 100%;
}
.editor-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.editor-panel {
  width: 100%;
}
@media screen and (max-width: 400px) {
  .editor-items-open {
    margin-left: 0;
    transition: margin-left 0.25s;
    transition-timing-function: ease-in-out;
  }
  .editor-items-closed {
    margin-left: -100vw;
    transition: margin-left 0.25s;
    transition-timing-function: ease-in-out;
  }
  .editor-panel {
    height: 100%;
  }
  .editor-items {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 10;
  }
}
@media screen and (min-width: 401px) {
  .editor-items {
    min-width: 400px;
  }
  .editor {
    display: flex;
  }
}
.editor-instance {
  height: 100%;
}

.icon {
  display: inline;
  min-width: 32px;
  height: 0;
  position: relative;
}
.icon > img {
  left: -50%;
  position: absolute;
  width: auto;
  max-width: initial;
  height: auto;
  bottom: -50%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  image-rendering: pixelated;
}

.entry {
  border: 1px solid gray;
  background-color: #222;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

/* Others */
.exponent {
  font-size: xx-small;
  top: -0.68rem;
  position: relative;
}

/* Dialogues */
.modal-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.modal-blackout {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 15;
  background-color: rgba(34, 34, 34, 0.545);
}
.modal {
  z-index: 100;
}
.modal-content {
  background-color: #222;
  z-index: 20;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dialog-content {
  height: 100%;
  margin: 1rem;
}
.dialog-footer {
  text-emphasis: inherit;
}
