/*
  Main styles to layout the app and it's containers.
*/
@import './reset.css';
@import './fonts.css';
@import './elements.css';
@import './semantic.css';
@import './animations.css';

html,
body,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Press Start';
}

code {
  font-family: 'Press Start', monospace;
}

#root {
  position: absolute;
  color: white;
  background-color: black;
}
#root code {
  line-height: 1.2rem;
}

strong {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
