/* Semantic */
.wide {
  width: 100%;
}

.center {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .only-lg {
    display: none;
  }
}

.center-layout {
  height: 100%;
  display: flex;
  justify-content: center;
}

.flow-center {
  flex-direction: column;
}
