body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

@keyframes pulsating {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pulsating {
  animation-name: pulsating;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: absolute;
  color: white;
}
#root,
#root * {
  font-family: 'Press Start';
}
#root code,
#root button {
  line-height: 1.2rem;
}

button {
  border-radius: 0;
}

.choice.disabled {
  background-color: lightgray;
  color: gray;
}

/* Fonts */
@font-face {
  font-family: 'Press Start';
  src: url('./fonts/prstart.ttf');
}

@font-face {
  font-family: 'Pixel';
  src: url('./fonts/Pixel.ttf');
}

@font-face {
  font-family: 'DP Comic';
  src: url('./fonts/dpcomic.ttf');
}
